[submodule "awesome-terminal-fonts"]
	path = awesome-terminal-fonts
	url = https://github.com/mikeabreu/awesome-terminal-fonts
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
